:root{
    --color: #f7b600;;
	--color2: white;
    --EditAndLink: #0362fc;;
}

*{
    margin: none;
    padding:none ;
}

@media (min-width: 768px) { 
    body{
        background-color: var(--color);
    }
}

body{
    background-color: var(--color2);
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    display: flex;
}

