@import 'styles/variaveis';
@import 'styles/breakpoints';

.cadastroButton{

    &:hover, &:focus{
    background-color: $cor2;
    color: $cor1!important;
    border: solid 1px $cor1;
    cursor: pointer;
}
    border: none;
    outline: none;
    background-color: $cor1;
    color: $cor2;
    border-radius: 4px;
    font-size: large;
    padding: 10px 15px 10px 15px;
    margin:30px;
    margin-left: 50%;
    transform: translateX(-50%);
    
}