.cadastroButton{

    &:hover, &:focus{
    background-color: var(--color2);
    color: var(--color)!important;
    border: solid 1px var(--color);
    cursor: pointer;}

    border: none;
    outline: none;
    background-color: var(--color);
    color: var(--color2);
    border-radius: 4px;
    font-size: large;
    padding: 10px 15px 10px 15px;
    margin:30px;
    margin-left: 50%;
    transform: translateX(-50%);
    
}