@import "styles/variaveis";
@import "styles/breakpoints";

body {
    overflow-x: hidden;
    background-color: rgb(240, 240, 240);
}

.carregando{
    color: $cor1;
    font-size: larger;
    text-align: center;
}