@import "styles/variaveis";
@import "styles/breakpoints";

main > div{
    box-shadow: $bxshadow;
}


    .container{
        padding: 0!important;

        @media (max-width: $mobile){
            .container{
                padding: none;
            }
        }
    }
