$cor1: #f7b600;
$cor2: white;
$cor3: rgb(240, 240, 240);
$bkcolor: rgb(165, 164, 164);
$bxshadow: 3px 0 2px lightgray;

$sectionPadding: 1rem;

$titleSize: 1.5rem;
$titleWeight: 500;
$titlePadding: 10px 0 10px 0;
