$cor1: #f7b600;
$cor2: white;
$cor3: rgb(240, 240, 240);
$cor4: rgb(54, 54, 54);
$bkcolor: rgb(165, 164, 164);
$bxshadow: 3px 0 2px lightgray;
$lightFont: 500;
$boldFont: 600;
$sectionPadding: 1rem;

$titleSize: 1.5rem;
$titleWeight: 500;
$titlePadding: 10px 0 10px 0;
