@import "styles/breakpoints";
@import "styles/variaveis";



.principal {
  box-shadow: $bxshadow;
  width: 100%;
  object-fit: contain;
  background-color: $cor2;
  padding: 0;
  height: 200px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: $mobile) {
    height: 180px;
  }

  img {
    height: 100px;
    object-fit: cover;
    width: 100%;
    object-position: 20%;
    cursor: pointer;
    
    @media (max-width: $mobile) {
      height: 90px;
    }

    &:hover {
      -webkit-filter: grayscale(1);
      /* Webkit */
      filter: gray;
      /* IE6-9 */
      filter: grayscale(1);
      /* W3C */
    }
  }

  button {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    padding: 0;
  }

  input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }
}

.fotosNomes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 70%;

  &__user {
    position: relative; 
    @media (max-width: $mobile) {
      img{
        height: 90px;
        width: 90px;
        margin: 0;
      }
      margin-left: 0;
    }

    img {
      height: 100px;
      width: 100px;
      object-fit: cover;
      border: solid $cor1;
      border-radius: 50%;
      margin: 10px;
    }

    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }

  &__pets {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;


    img {

      @media (max-width: $mobile) {
        height: 70px;
        width: 70px;
      }

      height: 80px;
      width: 80px;
      object-fit: cover;
      border: solid $cor1;
      border-radius: 50%;
      margin: 10px;
      opacity: 1;
      line-height: 90px;
      text-align: center;

    }


    &__inputImgWrapper {
      display: flex;
      position: relative;
    }
  }

  button {
    border: none;
    outline: none;
    background-color: transparent;
  }

  p {
    text-align: center;
    color: $cor1;
  }

 a{
    display: block;
  }
}

.fotosPets {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.carousel{
  width: 70%;
  display: flex;
  align-items: center;
}