@import "styles/variaveis";

.mynavbar{
<<<<<<< HEAD
    width: 100%;
=======
>>>>>>> 674c0da9313364ee5ecad75559a824518932ab86
    background-color: $cor1 ;
    display: flex;
    flex-direction: row;
    justify-content:  center;
    position:fixed;
    height: 60px;
	width: 100%;
	z-index: 1000;
<<<<<<< HEAD
    box-sizing: content-box;
=======
    box-sizing: border-box;
>>>>>>> 674c0da9313364ee5ecad75559a824518932ab86
}

.botaoMenu{
    border: none;
	padding: none;
	background-color: $cor1;
    outline: none;
    position: fixed;
    left: 10px;
    top: 12px;
}