@import "styles/breakpoints";
@import "styles/variaveis";

.oculto {
    display: none !important;
}

.salvarEditar {
    border: none;
    outline: none;
    background-color: $cor2;
    color: $cor1;
    padding: 1rem;
    float: right;

    &:hover {
        text-decoration: underline;
    }
}