@import 'styles/breakpoints';
@import 'styles/variaveis';

.displayRow{
    justify-content: space-between;
    row-gap: 0;
}

.colunaOculta{
    display: none;
}

.mainReduzido{
    margin-left: 26%;
}