@import 'styles/variaveis';
@import 'styles/breakpoints';

.excluir{
    width: 100%;
    border: none;
    color: $cor2;
    background-color: red;
    height: 2rem;
    margin-bottom: 10px;
}

.popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: $cor2;
    margin: 0 auto;
    padding-top: $sectionPadding;
    padding-left: $sectionPadding;
    padding-right: $sectionPadding;
    border: 1px solid black;
    font-weight: $lightFont;
    span{
        padding: $sectionPadding;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        button{
            border: 1px solid;
            padding: 0.3rem;
        }
    }
}
